.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.quiz {
  margin-right: 30px;
}
.stack {
  text-align: left;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.card {
  margin: 15px;
}

@media only screen and (max-width: 767px) {
  /* Styles for small screens */
  .body {
    flex-wrap: wrap;
  }
}
