.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.quiz {
  margin-right: 30px;
}
.stack {
  text-align: left;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
